.border-top {
  border-top: solid 1px #727e91;
  margin-top: 20px;
  padding-top: 10px;
}

.box-light-gray {
  // background-color: white;
  padding: 10px;
  margin: 10px;
  // border-radius: 4px;
  // box-shadow: 2px 2px 2px #727e91;
  h3{
    font-size:20px;

  }
  p {
    font-size:15px;

  }
  li{
    font-size:15px;

  }
}
